.iDyvdZ {
    font-size: var(--etna-font-size, 14px);
    line-height: var(--etna-line-height, 18px);
    letter-spacing: 0.02em;
    position: absolute;
    top: calc(-26px);
    z-index: 1;
    margin: 0px;
    padding: 8px 16px 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(18, 18, 18);
}
.jwOwdo {
    padding: 8px;
    background-color: rgb(18, 18, 18);
}
.fwJcAA {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.fXpZKS {
    min-width: 0px;
}
.jGAKxf {
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    width: 96px;
    min-width: 80px;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    aspect-ratio: 0 / 1;
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
}
.gxfpgD {
    margin: 0px;
    padding-inline-start: 2px;
}
.fXpZKS {
    min-width: 0px;
}
.kVTGst {
    font-weight: 600;
    font-size: var(--snowdon-font-size, 12px);
    line-height: var(--snowdon-line-height, 20px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0px;
    color: rgba(255, 255, 255, 0.6);
}
.dYCgEp {
    display: grid;
    background-color: white;
    box-shadow: rgba(18, 18, 18, 0.18) 0px 3px 12px 0px;
}
.haOQBP {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
}
.cUzkhn {
    width: 100%;
}
.iDyvdZ {
    font-size: var(--etna-font-size, 14px);
    line-height: var(--etna-line-height, 18px);
    letter-spacing: 0.02em;
    position: absolute;
    top: calc(-26px);
    z-index: 1;
    margin: 0px;
    padding: 8px 16px 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(18, 18, 18);
}
.fwJcAA {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.iARYpn {
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
}
.oZZIQ {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    color: rgb(18, 18, 18);
    text-decoration: none;
}
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-size: var(--rainier-font-size, 16px);
    letter-spacing: 0.02em;
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0px;
    color: rgb(18, 18, 18);
    font-family: Averta, helvetica, arial, sans-serif;
    line-height: 1.4;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
.dgfrFG {
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    width: 80px;
    min-width: 64px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    aspect-ratio: 0 / 1;
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
}
.DpfYU {
    margin: 0px;
    padding-inline-start: 1px;
}
.cQtZom {
    z-index: 10;
    display: -webkit-box;
    margin: 0px;
    -webkit-box-orient: block-axis;
    -webkit-line-clamp: 2;
    padding: 12px 16px 0px;
    overflow: hidden;
    font-size: var(--kilimanjaro-font-size, 24px);
    line-height: var(--kilimanjaro-line-height, 26px);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background-color: white;
    transform: translateX(-16px);
}


.grxCXZ {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}
*, ::before, ::after {
    box-sizing: inherit;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.oZZIQ {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    color: rgb(18, 18, 18);
    text-decoration: none;
}

a {
    text-decoration: none;
}
.beUuxt {
    position: relative;
    top: -16px;
    border-top: 1px solid rgb(214, 214, 214);
}
@media (min-width: 744px) {
    .iDyvdZ {
        position: initial;
        padding: 0px;
        font-weight: 700;
        font-size: var(--blanc-font-size, 18px);
        line-height: var(--blanc-line-height, 22px);
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}
@media (min-width: 744px) {
    .hPEMRi {
        position: initial;
        display: flex;
        flex-direction: row;
        gap: calc(40px);
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 8px 24px;
        background-color: rgb(18, 18, 18);
    }

}
.hPEMRi {
    position: initial;
    flex-direction: row;
    gap: calc(40px);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: rgb(18, 18, 18);
}
.dyqGEd {
    display: none;
}


@media (min-width: 744px){
    .dyqGEd{
        display: block;
    }
    
}
@media (min-width: 744px){
    .cUzkhn{
        display: none;
    }
    
}
.cUzkhn {
    width: 100%;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.oZZIQ {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    color: rgb(18, 18, 18);
    text-decoration: none;
}


.ecKqjY:not(:disabled) {
    cursor: pointer;
}

@supports (text-wrap:pretty) {
    .ecKqjY {
        text-wrap: pretty;
    }
}
.ecKqjY {
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 77, 223);
    position: relative;
    width: auto;
    min-height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: initial;
    border-image: initial;
    border-color: transparent;
    padding: 8px 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    white-space: normal;
    text-wrap: wrap;
    transition: background-color 0.2s;
    text-decoration: none;
}

.hJuAcy {
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}
*, ::before, ::after {
    box-sizing: inherit;
}
.ecKqjY:not(:disabled) {
    cursor: pointer;
}
@supports (text-wrap:pretty) {
    .ecKqjY {
        text-wrap: pretty;
    }
}
.ecKqj{
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 77, 223);
    position: relative;
    width: auto;
    min-height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: initial;
    border-image: initial;
    border-color: transparent;
    padding: 8px 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    white-space: normal;
    text-wrap: wrap;
    transition: background-color 0.2s;
}
.eezFZx {
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 16px;
}



* {
     box-sizing: inherit;
}

.hKBPDw {
     position: relative;
     z-index: 0;
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: 100%;
     background-color: rgb(246, 246, 246);
}

.klnyKL {
     background-color: rgb(2, 77, 223);
}

.giXrmw {
     position: relative;
}

.bHmnJy {
     display: flex;
     flex-direction: column;
     padding-top: 24px;
}

.bJtyWS {
     display: flex;
     flex-direction: column;
     -webkit-box-pack: justify;
     justify-content: space-between;
     height: 100%;
     padding-inline: 16px;
     padding-bottom: 32px;
     color: rgb(255, 255, 255);
}

.dBRAti {
     margin: 0px;
     padding: 0px;
     list-style: none;
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 400;
     display: flex;
     flex-wrap: wrap;
     -webkit-box-align: center;
     align-items: center;
     color: rgb(255, 255, 255);
}

.bjyHbM {
     position: relative;
     display: flex;
     -webkit-box-align: center;
     align-items: center;
}

.dsVDXb {
     display: inline-block;
     padding: 4px 0px;
     color: inherit;
     text-decoration: none;
}

.dsVDXb:hover {
     color: inherit;
     text-decoration: underline;
}

.gvQYjH {
     margin: 0px 4px;
}

.gvQYjH::after {
     content: "/";
}

.giJiCy {
     display: inline-block;
     padding: 4px 0px;
}

.iENlCo {
     margin-top: 1em;
     margin-bottom: 0px;
     font-weight: bold;
}

.clvfHR {
     margin-top: 1.5rem;
}

.KeuKZ {
     margin: 0px;
     padding: 0px;
     list-style: none;
     display: flex;
     -webkit-box-align: baseline;
     align-items: baseline;
     width: 100%;
     border-bottom: 1px solid rgba(255, 255, 255, 0.25);
     overflow: auto hidden;
     white-space: nowrap;
}

.KeuKZ::-webkit-scrollbar {
     display: none;
}

.ddEPRr {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     display: block;
     margin-bottom: -1px;
     padding: 12px;
     border-bottom: 2px solid rgb(255, 255, 255);
     color: rgb(255, 255, 255);
     white-space: nowrap;
     text-decoration: none;
}

.ddEPRr:hover {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0.25);
}

.ddEPRr:focus {
     outline-offset: -2px;
}

.cxYnWK {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     display: block;
     margin-bottom: -1px;
     padding: 12px;
     border-bottom: 2px solid transparent;
     color: rgba(255, 255, 255, 0.8);
     white-space: nowrap;
     text-decoration: none;
}

.cxYnWK:hover {
     color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0.25);
}

.cxYnWK:focus {
     outline-offset: -2px;
}

.hlQnCP {
     display: none;
}

.ckLyyv {
     display: inline-block;
     flex-shrink: 0;
     vertical-align: middle;
     transition: transform 0.2s ease-out;
     fill: currentcolor;
}

.jXPuJD {
     width: 40px;
     height: 40px;
     margin-inline-start: -8px;
     color: rgb(255, 255, 255);
}

.jOAVSY {
     color: rgb(255, 255, 255);
}

.hJdlKr {
     margin-top: 32px;
}

p {
     margin: 0px 0px 1em;
}

.fmiwWm {
     margin-bottom: 0px;
}

.fbpUeh {
     color: rgb(235, 235, 235);
}

.iTJOrD {
     display: block;
     color: rgb(255, 255, 255);
     font-weight: 600;
     font-size: 20px;
}

.hxlXMw {
     display: none;
     padding-bottom: 88px;
     background-color: rgb(255, 255, 255);
     box-shadow: rgba(18, 18, 18, 0.18) 0px 3px 12px 0px;
}

.iMIsZQ {
     padding: 16px;
}

.cTRJFB {
     margin-inline: -16px;
}

button {
     font-family: inherit;
}

.foBYFA {
     margin: initial;
     border: 0px;
     color: inherit;
     font-weight: inherit;
     font-size: inherit;
     font-family: inherit;
     line-height: inherit;
     letter-spacing: inherit;
     text-align: inherit;
     text-transform: inherit;
     background-color: transparent;
     padding: 16px 64px;
     position: relative;
     width: 100%;
     cursor: pointer;
}

.foBYFA:hover {
     background-color: rgb(246, 246, 246);
}

.kmtzPG {
     position: absolute;
     top: 16px;
     inset-inline-start: 24px;
     color: rgb(100, 100, 100);
}

.gskSvq {
     font-size: var(--rainier-font-size,16px);
     letter-spacing: 0.02em;
     font-weight: 600;
     display: block;
     line-height: 1.5;
}

.fJPqt {
     position: absolute;
     top: 16px;
     inset-inline-end: 24px;
     margin-inline-start: auto;
     transition: transform 300ms;
     fill: rgb(2, 77, 223);
     transform: rotate(180deg);
}

.dJfWDt {
     display: block;
}

.ekOJfs {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

.kPQGaj {
     padding: 12px 24px 12px 64px;
     position: relative;
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
     color: rgb(18, 18, 18);
     text-decoration: none;
}

.kPQGaj:hover {
     text-decoration: underline;
     background-color: rgb(246, 246, 246);
}

.pXgit {
     display: flex;
}

.sc-f6e50073-0 + .sc-f6e50073-0::before {
     display: block;
     margin-top: 8px;
     margin-inline: 16px;
     padding-top: 8px;
     border-top: 1px solid rgb(191, 191, 191);
     content: "";
}

.jMgmIb {
     position: absolute;
     top: 16px;
     inset-inline-end: 24px;
     margin-inline-start: auto;
     transition: transform 300ms;
     fill: rgb(2, 77, 223);
}

.dTHzZi {
     display: none;
}

.hJNfae {
     margin-inline: -16px;
}

.byfNGD {
     margin: initial;
     border: 0px;
     color: inherit;
     font-family: inherit;
     text-align: inherit;
     text-transform: inherit;
     background-color: transparent;
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     position: relative;
     display: block;
     width: 100%;
     padding: 16px 64px;
}

.byfNGD:hover {
     background-color: rgb(246, 246, 246);
}

.iqdTsX {
     position: absolute;
     top: 16px;
     inset-inline-start: 24px;
     fill: rgb(100, 100, 100);
}

.ivpuFw::before {
     display: block;
     margin-top: 8px;
     margin-inline: 16px;
     padding-top: 8px;
     border-top: 1px solid rgb(191, 191, 191);
     content: "";
}

.dERecM {
     color: rgb(18, 18, 18);
}

.iUlGQI {
     position: absolute;
     top: 16px;
     inset-inline-start: 24px;
     fill: rgb(100, 100, 100);
}

.iMZEQs {
     padding-bottom: 88px;
}

.bzqpZc {
     padding-inline: 16px;
}

.hIdOSJ {
     margin-top: 32px;
}

.dyqGEd {
}


.iDyvdZ {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     position: absolute;
     top: calc(-26px);
     z-index: 1;
     margin: 0px;
     padding: 8px 16px 0px;
     color: rgb(255, 255, 255);
     font-weight: 700;
     text-transform: uppercase;
     background-color: rgb(18, 18, 18);
}

.jwOwdo {
     padding: 8px;
     background-color: rgb(18, 18, 18);
}

.fwJcAA {
     display: flex;
     flex-direction: row;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: justify;
     justify-content: space-between;
}

.jGAKxf {
     font-weight: 700;
     letter-spacing: 0.08em;
     text-transform: uppercase;
     width: 96px;
     min-width: 80px;
     font-size: 32px;
     line-height: 32px;
     display: flex;
     flex-direction: column;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     aspect-ratio: 0 / 1;
     color: rgb(255, 255, 255);
     flex: 1 1 0%;
}

.fXpZKS {
     min-width: 0px;
}

.gxfpgD {
     margin: 0px;
     padding-inline-start: 2px;
}

.kVTGst {
     font-weight: 600;
     font-size: var(--snowdon-font-size,12px);
     line-height: var(--snowdon-line-height,20px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
     margin: 0px;
     color: rgba(255, 255, 255, 0.6);
}

.fEXqvJ {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin: 0px 0px 22px;
     padding: 0px 4px;
     color: rgb(255, 255, 255);
}

.dYCgEp {
     display: grid;
     background-color: white;
     box-shadow: rgba(18, 18, 18, 0.18) 0px 3px 12px 0px;
}

.haOQBP {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0px;
}

.cUzkhn {
     width: 100%;
}

.dgfrFG {
     font-weight: 700;
     letter-spacing: 0.08em;
     text-transform: uppercase;
     width: 80px;
     min-width: 64px;
     font-size: 24px;
     line-height: 24px;
     display: flex;
     flex-direction: column;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     aspect-ratio: 0 / 1;
     color: rgb(255, 255, 255);
     flex: 1 1 0%;
}

.DpfYU {
     margin: 0px;
     padding-inline-start: 1px;
}

.oZZIQ {
     display: flex;
     flex-direction: column;
     padding: 0px 16px 24px;
     color: rgb(18, 18, 18);
     text-decoration: none;
}

.lmhoCy {
     border: 0px;
     clip: rect(0px, 0px, 0px, 0px);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0px;
     position: absolute;
     white-space: nowrap;
     width: 1px;
}

.cQtZom {
     z-index: 10;
     display: -webkit-box;
     margin: 0px;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 2;
     padding: 12px 16px 0px;
     overflow: hidden;
     font-size: var(--kilimanjaro-font-size,24px);
     line-height: var( --kilimanjaro-line-height,26px );
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 0px;
     background-color: white;
     transform: translateX(-16px);
}

.grxCXZ {
     display: flex;
     flex-direction: column;
     gap: 4px;
     margin-top: 16px;
}

.bNiUoM {
     margin: 0px;
     font-weight: 600;
}

.gHzxqm {
     display: -webkit-box;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 1;
     margin: 0px;
     overflow: hidden;
}

.iARYpn {
     z-index: 10;
     display: flex;
     flex-direction: column;
     padding: 16px;
     background-color: white;
}

.beUuxt {
     position: relative;
     top: -16px;
     border-top: 1px solid rgb(214, 214, 214);
}

.ecKqjY {
     margin: initial;
     border: 1px solid transparent;
     font-family: inherit;
     letter-spacing: inherit;
     text-transform: inherit;
     color: rgb(255, 255, 255);
     background-color: rgb(2, 77, 223);
     position: relative;
     width: auto;
     min-height: 44px;
     padding: 8px 16px;
     border-radius: 4px;
     font-weight: 600;
     font-size: 16px;
     line-height: 1.4;
     white-space: normal;
     text-align: center;
     text-wrap-style: auto;
     transition: background-color 0.2s;
     display: inline-flex;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     text-decoration: none;
}

.ecKqjY:not(:disabled) {
     cursor: pointer;
}

.ecKqjY:disabled {
     border-color: rgb(235, 235, 235);
     color: rgb(148, 148, 148);
     background-color: rgb(235, 235, 235);
     cursor: not-allowed;
}

.ecKqjY:focus {
     outline-offset: 4px;
}

.ecKqjY:hover {
     text-decoration: none;
}

.hJuAcy {
     display: flex;
     gap: 8px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     visibility: visible;
}

.kODbdn {
     display: inline-block;
     flex-shrink: 0;
     vertical-align: middle;
     transition: transform 0.2s ease-out;
     fill: currentcolor;
     transform: rotate(-90deg);
}

.eezFZx {
     display: flex;
     gap: 24px;
     -webkit-box-align: center;
     align-items: center;
     margin-top: 16px;
}

.coVzbU {
     margin: initial;
     padding: initial;
     border: 0px;
     font-weight: inherit;
     font-size: inherit;
     font-family: inherit;
     line-height: inherit;
     letter-spacing: inherit;
     text-align: inherit;
     text-transform: inherit;
     background-color: transparent;
     color: rgb(2, 77, 223);
     text-decoration: underline;
     cursor: pointer;
}

.gZExrr {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 400;
     display: flex;
     flex: 0 0 auto;
     flex-wrap: nowrap;
     gap: 8px;
     -webkit-box-align: center;
     align-items: center;
}

.coVzbU:hover {
     color: rgb(1, 57, 167);
}

.fjXmOJ {
     display: -webkit-box;
     margin-inline-start: auto;
     font-weight: 600;
     font-size: var(--snowdon-font-size,12px);
     line-height: var(--snowdon-line-height,20px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 2;
     overflow: hidden;
     color: rgb(100, 100, 100);
     text-align: end;
}

.bqPuKp {
     position: relative;
     display: grid;
     grid-row: 1;
     justify-items: end;
}

.ftdgFR {
     width: 100%;
     max-height: 193px;
     object-fit: cover;
     filter: grayscale(0);
}

.jvFlWE {
     margin-top: 16px;
     padding: 0px;
     list-style: none;
}

.dYaKNj {
     border-radius: 4px;
     box-shadow: rgba(18, 18, 18, 0.15) 0px 2px 8px 0px;
}

.jEpyAM {
     display: grid;
     background-color: white;
}

.ewkKgd {
     position: relative;
     color: rgb(18, 18, 18);
     text-decoration: none;
}

.jbpowU {
     width: 100%;
     height: 100%;
     object-fit: cover;
     filter: grayscale(0);
     aspect-ratio: 16 / 9;
}

.fnBxtA {
     display: flex;
     flex-direction: column;
     -webkit-box-pack: justify;
     justify-content: space-between;
     padding: 16px;
}

.kqPoDV {
     display: flex;
     gap: 24px;
     color: rgb(18, 18, 18);
     text-decoration: none;
}

.eRdWed {
     display: flex;
     flex-direction: column;
}

.fNA-Dpw {
     display: -webkit-box;
     margin: 0px 0px 8px;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 2;
     overflow: hidden;
     font-size: var(--vinson-font-size,22px);
     line-height: var(--vinson-line-height,24px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
     font-weight: 900;
}

.zSkso {
     margin: 0px;
     font-weight: 600;
}

.hHmurx {
     display: -webkit-box;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 1;
     margin: 4px 0px 0px;
     overflow: hidden;
}

.LznMI {
     align-self: center;
     margin-inline-start: auto;
}

.itirYM {
     display: inline-block;
     flex-shrink: 0;
     vertical-align: middle;
     transition: transform 0.2s ease-out;
     fill: rgb(2, 77, 223);
     transform: rotate(-90deg);
}

.jzBeFi {
     display: flex;
     flex-direction: column;
     margin-top: 24px;
}

.ldWDEB {
     margin-top: auto;
     margin-bottom: 16px;
     border-top: 1px solid rgb(214, 214, 214);
}

.iJuHkD {
     display: flex;
     gap: 24px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: justify;
     justify-content: space-between;
}

.ksSXyr {
     display: -webkit-box;
     max-width: 50%;
     margin-inline-start: auto;
     -webkit-box-orient: block-axis;
     -webkit-line-clamp: 3;
     overflow: hidden;
     color: rgb(100, 100, 100);
     text-align: end;
     font-weight: 600;
     font-size: var(--snowdon-font-size,12px);
     line-height: var(--snowdon-line-height,20px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
}

.ikOEGQ {
     margin: 40px 0px;
     border-bottom: 1px solid rgb(214, 214, 214);
}

.dEPTt {
     font-weight: 700;
     font-size: var(--blanc-font-size,18px);
     line-height: var(--blanc-line-height,22px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
     margin: 32px 0px 24px;
}

.bXAcuG {
     margin-top: 0px;
     padding: 0px;
     list-style: none;
}

*, ::before, ::after {
    box-sizing: inherit;
}
div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-size: var(--rainier-font-size, 16px);
    letter-spacing: 0.02em;
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0px;
    color: rgb(18, 18, 18);
    font-family: Averta, helvetica, arial, sans-serif;
    line-height: 1.4;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
:root {
    --main-css-scanner-bg-dark: rgba(30, 30, 30, .95);
    --main-css-scanner-bg-dark-highlight: rgba(54, 53, 53, 0.95);
    --main-css-scanner-bg-light: rgba(255, 255, 255, 0.067);
    --main-css-scanner-title-color: rgb(114, 243, 148);
    --main-css-scanner-color-green: #7dffb3;
    --main-css-scanner-color-highlight: #9CDCFD;
    --main-css-scanner-color-property-name: #9CDCFD;
    --main-css-scanner-color-property-value-w-num: #fff3bc;
    --main-css-scanner-color-property-value: rgb(184, 205, 209);
    --main-css-scanner-color-red: rgb(254, 84, 84);
    --main-css-scanner-color-subheading: #dfdfdf;
}
@media (min-width: 900px) {
    html {
        --mauna-font-size-number: 54;
        --everest-font-size-number: 44;
        --kilimanjaro-font-size-number: 32;
        --matterhorn-font-size-number: 28;
        --vinson-font-size-number: 24;
        --blanc-font-size-number: 20;
        --fiji-font-size-number: 18;
        --rainier-font-size-number: 16;
        --boising-font-size-number: 16;
        --etna-font-size-number: 14;
        --nevis-font-size-number: 14;
        --snowdon-font-size-number: 12;
        --mauna-font-size: 54px;
        --everest-font-size: 44px;
        --kilimanjaro-font-size: 32px;
        --matterhorn-font-size: 28px;
        --vinson-font-size: 24px;
        --blanc-font-size: 20px;
        --fiji-font-size: 18px;
        --rainier-font-size: 16px;
        --boising-font-size: 16px;
        --etna-font-size: 14px;
        --nevis-font-size: 14px;
        --snowdon-font-size: 12px;
        --mauna-line-height: 44px;
        --everest-line-height: 44px;
        --kilimanjaro-line-height: 34px;
        --matterhorn-line-height: 34px;
        --vinson-line-height: 28px;
        --blanc-line-height: 24px;
        --fiji-line-height: 26px;
        --rainier-line-height: 24px;
        --boising-line-height: 24px;
        --etna-line-height: 20px;
        --nevis-line-height: 20px;
        --snowdon-line-height: 20px;
    }
}
html {
    box-sizing: border-box;
    height: 100%;
    line-height: 1.4;
    scroll-behavior: smooth;
    --mauna-font-size-number: 44;
    --everest-font-size-number: 32;
    --kilimanjaro-font-size-number: 24;
    --matterhorn-font-size-number: 24;
    --vinson-font-size-number: 22;
    --blanc-font-size-number: 18;
    --fiji-font-size-number: 18;
    --rainier-font-size-number: 16;
    --boising-font-size-number: 16;
    --etna-font-size-number: 14;
    --nevis-font-size-number: 14;
    --snowdon-font-size-number: 12;
    --mauna-font-size: 44px;
    --everest-font-size: 32px;
    --kilimanjaro-font-size: 24px;
    --matterhorn-font-size: 24px;
    --vinson-font-size: 22px;
    --blanc-font-size: 18px;
    --fiji-font-size: 18px;
    --rainier-font-size: 16px;
    --boising-font-size: 16px;
    --etna-font-size: 14px;
    --nevis-font-size: 14px;
    --snowdon-font-size: 12px;
    --mauna-line-height: 44px;
    --everest-line-height: 32px;
    --kilimanjaro-line-height: 26px;
    --matterhorn-line-height: 30px;
    --vinson-line-height: 24px;
    --blanc-line-height: 22px;
    --fiji-line-height: 26px;
    --rainier-line-height: 22px;
    --boising-line-height: 22px;
    --etna-line-height: 18px;
    --nevis-line-height: 18px;
    --snowdon-line-height: 20px;
}
*, ::before, ::after {
    box-sizing: inherit;
}
*, ::before, ::after {
    box-sizing: inherit;
}
@font-face {
    font-weight: 900;
    font-family: 'Averta';
    font-style: normal;
    src: url(//uk.tmconst.com/rc-d7f0eb3a/fonts/averta-black.woff2) format('woff2'), url(//uk.tmconst.com/rc-d7f0eb3a/fonts/averta-black.woff) format('woff');
}

@media (min-width: 900px) {
    .oZZIQ {
        padding: 24px;
    }
}
@media (min-width: 744px) {
    .oZZIQ {
        padding: 16px 16px 24px;
    }
}
.oZZIQ {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    color: rgb(18, 18, 18);
    text-decoration: none;
}
@media (min-width: 744px) {
    .iDyvdZ {
        position: initial;
        padding: 0px;
        font-weight: 700;
        font-size: var(--blanc-font-size, 18px);
        line-height: var(--blanc-line-height, 22px);
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}
@media (min-width: 744px) {
    .bqPuKp {
        grid-column: 2;
    }
}
@media (min-width: 744px) {
    .ftdgFR {
        width: 390px;
        min-height: 312px;
    }
}

@media (min-width: 375px) {
    .ftdgFR {
        max-height: 400px;
    }
}
@media (min-width: 900px) {
    .oZZIQ {
        padding: 24px;
    }
}
@media (min-width: 744px) {
    .oZZIQ {
        padding: 16px 16px 24px;
    }
}
.bqPuKp {
    position: relative;
    display: grid;
    grid-row: 1;
    justify-items: end;
}
@media (min-width: 744px) {
    .cQtZom {
        margin-top: 0px;
        padding: unset;
        transform: unset;
    }
}
@media (min-width: 744px) {
    .haOQBP {
        grid-column: 1;
    }
}
.haOQBP {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
}
.cQtZom {
    z-index: 10;
    display: -webkit-box;
    margin: 0px;
    -webkit-box-orient: block-axis;
    -webkit-line-clamp: 2;
    padding: 12px 16px 0px;
    overflow: hidden;
    font-size: var(--kilimanjaro-font-size, 24px);
    line-height: var(--kilimanjaro-line-height, 26px);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background-color: white;
    transform: translateX(-16px);
}
@media (min-width: 744px) {
    .iARYpn {
        position: absolute;
        bottom: 0px;
        width: calc(100% + 40px);
        padding: 24px 24px 16px;
    }
}
.iARYpn {
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
}