
* {
     box-sizing: inherit;
}

.clsGOU {
     display: grid;
     gap: 16px;
     align-items: flex-start;
     max-width: 620px;
     margin-top: -16px;
     margin-inline: -16px;
}

.cfGQrC {
     box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px;
     padding: 32px 24px;
     border-radius: 4px;
     background-color: rgb(255, 255, 255);
}

.fIjlcc {
     padding: 32px;
}

.cSqFpp {
     font-weight: 600;
     font-size: var(--fiji-font-size,18px);
     letter-spacing: 0.02em;
     margin: 0px;
     line-height: 1;
}

.iYBBdI {
     font-weight: 700;
     font-size: var(--blanc-font-size,18px);
     line-height: var(--blanc-line-height,22px);
     letter-spacing: 0.02em;
     text-transform: capitalize;
}

.eguRCZ {
     margin-top: 32px;
}

.bhFDSu {
     margin-top: 24px;
}

.kGLqZZ {
     display: flex;
     flex-direction: column;
}

.ibgvXd {
     padding-bottom: 24px;
}

.gkuqiK {
     display: flex;
     flex-direction: column;
     gap: 24px;
}

.eLPJDU {
     display: flex;
}

.ZMlsV {
     -webkit-box-flex: 1;
     flex-grow: 1;
     margin: 0px;
}

.bCpYvW {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin-bottom: 0px;
     color: rgb(100, 100, 100);
}

.ffGxIw {
     margin: 4px 0px 0px;
}

.cjXqde {
     padding-top: 24px;
}

.cjXqde:nth-child(2) {
     border-top: 1px solid rgb(191, 191, 191);
}

.ghHiyi {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin: 0px;
}

.iXXWZT {
     display: flex;
     flex-flow: column wrap;
     gap: 4px;
     margin: 4px 0px 0px;
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 400;
}

p {
     margin: 0px 0px 1em;
}

.bJNtzu {
     margin: 0px;
}

.jUmYIm > * + * {
     margin-top: 16px;
}

.biyxxa {
     padding-bottom: 40px;
}

.gTAewp {
     padding: 0px 16px;
}

.jIXjzf {
     font-weight: 600;
     font-size: var(--snowdon-font-size,12px);
     line-height: var(--snowdon-line-height,20px);
     letter-spacing: 0.02em;
     text-transform: uppercase;
     margin-bottom: 32px;
     color: rgb(100, 100, 100);
     text-align: center;
}

.hdIrFu {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin-top: 0px;
}

.hhmLVQ {
     padding: 0px;
     list-style: none;
     margin: 16px 0px 0px;
}

.esXwZo {
     display: flex;
     gap: 8px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: justify;
     justify-content: space-between;
     margin-inline-start: 0px;
}

.qHAEk {
     margin: 0px;
}

.gxiGIP {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 400;
     margin: 0px;
}

.jRIFXi {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 400;
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
     margin: 4px 0px 0px;
}

.OUzhm {
     margin-top: 4px;
     color: rgb(100, 100, 100);
}

.fZuNfa {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 400;
}

.npVvu {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 400;
     min-width: 6.25rem;
     margin: 0px;
     text-align: end;
}

.iasIGi {
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
}

.kjaOMa {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin: 32px 0px;
     padding: 16px;
     background-color: rgb(246, 246, 246);
}

.kCnmqJ {
     margin-bottom: 0px;
     white-space: nowrap;
}

.jYyXVm {
     min-width: 6.25rem;
     margin: 0px;
     text-align: end;
}

.eojVTO {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
}

.klhKBJ {
     margin-inline-end: 12px;
}

.dGKHnr {
     padding: 0px 16px;
}

.cISCOK {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin: 16px 0px 8px;
}

.fABVQk {
     display: flex;
     -webkit-box-pack: justify;
     justify-content: space-between;
     width: 100%;
}

.emPqux {
     text-transform: uppercase;
}

.hToRaT {
     margin-top: 32px;
     padding: 24px 0px;
     background-color: rgb(246, 246, 246);
}

.bsQvET {
     display: grid;
     grid-auto-flow: column;
     -webkit-box-align: center;
     align-items: center;
}

.hoEXzO {
     display: inline-block;
     padding-inline-start: 16px;
     font-weight: 700;
     font-size: var(--vinson-font-size,22px);
     line-height: var(--vinson-line-height,24px);
     letter-spacing: 0.02em;
     text-transform: capitalize;
}

.fJkSva {
     display: inline-flex;
     flex-direction: column;
     padding: 0px 16px;
}

.hfmsK {
     -webkit-box-pack: justify;
     justify-content: space-between;
     font-weight: 600;
     font-size: 20px;
}

.ccfVdD {
     border-radius: 0px;
}

.dxrxPH {
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-top: 12px;
}

.ikIbQ {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 400;
     margin: 0px;
}

button {
     font-family: inherit;
}

.OXsGj {
     margin: initial;
     border: 1px solid transparent;
     font-family: inherit;
     letter-spacing: inherit;
     text-transform: inherit;
     color: rgb(255, 255, 255);
     background-color: rgb(2, 77, 223);
     position: relative;
     display: inline-block;
     width: 100%;
     min-height: 44px;
     padding: 8px 16px;
     border-radius: 4px;
     font-weight: 600;
     font-size: 16px;
     line-height: 1.4;
     white-space: normal;
     text-align: center;
     text-wrap-style: auto;
     transition: background-color 0.2s;
}

.OXsGj:not(:disabled) {
     cursor: pointer;
}

.OXsGj:disabled {
     border-color: rgb(235, 235, 235);
     color: rgb(148, 148, 148);
     background-color: rgb(235, 235, 235);
     cursor: not-allowed;
}

.OXsGj:focus {
     outline-offset: 4px;
}

.hJuAcy {
     display: flex;
     gap: 8px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     visibility: visible;
}

* {
     box-sizing: inherit;
}

.kaCSzk {
     padding: 32px 16px 0px;
}

.lataHv {
     font-size: var(--rainier-font-size,16px);
     line-height: var(--rainier-line-height,22px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin: 0px;
}

.jUtzuP {
     margin-top: 16px;
}

.gnderY {
     display: flex;
     flex-direction: column;
     margin-top: 0px;
}

.eXpCZs {
     display: flex;
     flex-direction: column;
     gap: 4px;
     margin: 16px 0px 0px;
}

.eFgeNN {
     font-size: var(--etna-font-size,14px);
     line-height: var(--etna-line-height,18px);
     letter-spacing: 0.02em;
     font-weight: 600;
     margin-top: 16px;
     margin-bottom: 4px;
     color: rgb(100, 100, 100);
}

.a-dnLe {
     margin-top: 0px;
}

.ldXIuB {
     margin: 0px;
     white-space: pre-wrap;
}

p {
     margin: 0px 0px 1em;
}

.kGFtzk {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 0px;
     margin-inline-start: 0px;
}

.jJrXHk {
     margin-inline-start: 12px;
}

.uRMft {
     margin-top: 0px;
}

.kdxXnp {
     margin-inline-end: 4px;
}
.jUmYIm{
    margin-top: -16px;
}