
        .fydoZl {
            position: fixed;
            inset: 0px;
            z-index: 4;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            transform: translate3d(0px, 0px, 1px);
        }

        .ekYeLz {
            flex-shrink: 0;
            max-width: 90vw;
        }

        .jbsZEO {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
        }

        .hzoUIk {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin: 16px;
            padding: 32px;
            text-align: center;
            background: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px 0px;
        }

        .hzoUIk {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin: 16px;
            padding: 32px;
            text-align: center;
            background: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px 0px;
        }

        .jbsZEO {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
        }


        .FtVvn::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border-color: rgb(2, 77, 223);
            border-style: solid;
            border-width: calc(7.2px);
            border-inline-start-color: rgba(2, 77, 223, 0.25);
            border-radius: 50%;
            content: "";
            animation: 00.75s linear 0s infinite normal none running iOtnio !important;
        }

        *,
        ::before,
        ::after {
            box-sizing: inherit;
        }

        @keyframes iOtnio {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .FtVvn {
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            color: rgb(2, 77, 223);
        }
