@font-face { 
  font-weight:900;
  font-family:'Averta';
  font-style:normal;
  src:url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-black%5C.woff2) format('woff2'),
         url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-black%5C.woff) format('woff');
} 
@font-face { 
  font-weight:800;
  font-family:'Averta';
  font-style:normal;
  src:url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-extrabold%5C.woff2) format('woff2'),
         url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-extrabold%5C.woff) format('woff');
} 
@font-face { 
  font-weight:700;
  font-family:'Averta';
  font-style:normal;
  src:url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-bold%5C.woff2) format('woff2'),
         url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-bold%5C.woff) format('woff');
} 
@font-face { 
  font-weight:600;
  font-family:'Averta';
  font-style:normal;
  src:url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-semibold%5C.woff2) format('woff2'),
         url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-semibold%5C.woff) format('woff');
} 
@font-face { 
  font-weight:400;
  font-family:'Averta';
  font-style:normal;
  src:url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-regular%5C.woff2) format('woff2'),
         url(https://www.ticketmaster.com.mx/user/order/iDYQdeHubOF6-zqrrP2krDmprNZfV5-PQf4mwA%3D%3D/14006373AA8EB26E/%5C/%5C/uk%5C.tmconst%5C.com%5C/rc-01b9906d%5C/fonts%5C/averta-regular%5C.woff) format('woff');
} 
  body {  
    font-size:var(--rainier-font-size,16px);
    letter-spacing:0.02em;
    font-weight:400;
    color:rgb(18, 18, 18);
    font-family:Averta, helvetica, arial, sans-serif;
    line-height:1.4;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --gds-side-panel-padding-size:  20px;  
    --gds-side-panel-border-color:  #d6d6d6;  
    --gds-side-panel-icon-size:  32px;  
} 

* { 
    box-sizing: inherit;
} 

body { 
    font-size: var(--rainier-font-size,16px); 
    letter-spacing: 0.02em; 
    font-weight: 400; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    color: rgb(18, 18, 18); 
    font-family: Averta, helvetica, arial, sans-serif; 
    line-height: 1.4; 
    text-size-adjust: none; 
    -webkit-font-smoothing: antialiased;
} 

html { 
    box-sizing: border-box; 
    height: 100%; 
    line-height: 1.4; 
    scroll-behavior: smooth; 
    --vinson-font-size: 22px; 
    --fiji-font-size: 18px; 
    --rainier-font-size: 16px; 
    --etna-font-size: 14px; 
    --vinson-line-height: 24px; 
    --fiji-line-height: 26px; 
    --rainier-line-height: 22px; 
    --etna-line-height: 18px; 
} 

@media (min-width: 900px){ 
  html { 
    --vinson-font-size: 24px; 
    --fiji-font-size: 18px; 
    --rainier-font-size: 16px; 
    --etna-font-size: 14px; 
    --vinson-line-height: 28px; 
    --fiji-line-height: 26px; 
    --rainier-line-height: 24px; 
    --etna-line-height: 20px; 
  } 
}     

*,:before,:after { 
    box-sizing: inherit;
} 

.kXeMbl { 
    position: fixed; 
    z-index:2;
    inset: 0px; 
    background-color: rgba(0, 0, 0, 0.75);
} 

.kXeMbl[data-enter] { 
    opacity: 1; 
    transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1);
} 

.hxCvoI { 
    --gds-side-panel-padding-size: 20px; 
    --gds-side-panel-border-color: #d6d6d6; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px 0px; 
    position: fixed; 
    inset: 0px; 
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    background-color: rgb(255, 255, 255); 
    transform: translateX(100%); 
    transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
} 

@media not all and (max-width: 720px){ 
  .hxCvoI { 
    width: 420px; 
    inset-inline: auto 0px;
  } 
}     

.hxCvoI[data-enter] { 
    transform: translateX(0px);
} 

button { 
    font-family: inherit;
} 

.cvVDZQ { 
    --gds-side-panel-icon-size: 32px; 
    position: relative; 
    padding: var(--gds-side-panel-padding-size); 
    border-bottom: 1px solid var(--gds-side-panel-border-color);
} 

.gqDWSY { 
    padding: var(--gds-side-panel-padding-size); 
    overflow-y: auto;
} 

.cpewAG { 
    display: flex; 
    flex-direction: column; 
    gap: 4px; 
    -webkit-box-pack: center; 
    justify-content: center; 
    min-height: var(--gds-side-panel-icon-size); 
    padding-inline-end: calc(var(--gds-side-panel-icon-size) + 12px); 
    padding-inline-start: 0px;
} 

.ydDMU { 
    margin: initial; 
    padding: initial; 
    border: 1px transparent; 
    font-weight: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    text-transform: inherit; 
    color: rgb(2, 77, 223); 
    background-color: transparent; 
    display: inline-block; 
    width: 44px; 
    height: 44px; 
    border-radius: 4px; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.2s;
} 

.jdjnGW { 
    position: absolute; 
    top: var(--gds-side-panel-padding-size); 
    width: var(--gds-side-panel-icon-size); 
    height: var(--gds-side-panel-icon-size); 
    inset-inline-end: var(--gds-side-panel-padding-size);
} 

.ydDMU:not(:disabled) { 
    cursor: pointer;
} 

.jdjnGW:after { 
    position: absolute; 
    inset: calc((44px - var(--gds-side-panel-icon-size)) / 2 * -1); 
    width: 44px; 
    height: 44px; 
    content: "";
} 

.ydDMU:not(:disabled):hover { 
    color: rgb(1, 57, 167); 
    background-color: rgb(191, 210, 247);
} 

.iUWdPG { 
    box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px; 
    display: flex; 
    flex-direction: column; 
    -webkit-box-flex: 1; 
    flex-grow: 1; 
    border-radius: 4px; 
    overflow: hidden; 
    background-color: rgb(255, 255, 255);
} 

.dcEwyh { 
    margin-bottom: 16px; 
    border-radius: 0px;
} 

.dbtRDX { 
    position: relative; 
    font-weight: 600; 
    font-size: var(--fiji-font-size,18px); 
    line-height: var(--fiji-line-height,26px); 
    letter-spacing: 0.02em; 
    margin: 0px;
} 

.iXcSWy { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    min-height: 100%;
} 

.lmhoCy { 
    border: 0px; 
    clip: rect(0px, 0px, 0px, 0px); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0px; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px;
} 

.kXCNEZ { 
    display: flex; 
    width: 100%; 
    height: 4px; 
    padding: 0px; 
    background-color: rgb(2, 77, 223);
} 

.cWeWMl { 
    display: flex; 
    flex-direction: column; 
    -webkit-box-flex: 1; 
    flex-grow: 1;
} 

.ckLyyv { 
    display: inline-block; 
    flex-shrink: 0; 
    vertical-align: middle; 
    transition: transform 0.2s ease-out; 
    fill: currentcolor;
} 

.jJCEzA { 
    padding: 20px;
} 

.gSZkIA { 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    margin: 0px; 
    background-color: initial;
} 

.cYrnEz { 
    margin: 16px 0px; 
    border-top: 1px solid rgb(235, 235, 235);
} 

.cLaBhm { 
    display: flex; 
    gap: 4px; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

.gbqJzt { 
    margin: 16px 0px; 
    border-top: 1px solid rgb(235, 235, 235);
} 

.dfviEG { 
    display: grid; 
    place-items: center; 
    width: 100%; 
    min-height: 220px;
} 

.ftTdK { 
    display: grid; 
    row-gap: 2px; 
    grid-template-rows: repeat(2, min-content); 
    justify-items: flex-start;
} 

.jPmdZv { 
    display: grid; 
    row-gap: 2px; 
    grid-template-rows: repeat(2, min-content); 
    justify-items: center;
} 

.dkuubl { 
    display: grid; 
    row-gap: 2px; 
    grid-template-rows: repeat(2, min-content); 
    justify-items: flex-end;
} 

.bwaYRf { 
    display: inline-block; 
    flex-shrink: 0; 
    vertical-align: middle; 
    transition: transform 0.2s ease-out; 
    fill: rgb(18, 18, 18);
} 

p { 
    margin: 0px 0px 1em;
} 

.dzfRxd { 
    font-size: var(--rainier-font-size,16px); 
    line-height: var(--rainier-line-height,22px); 
    letter-spacing: 0.02em; 
    font-weight: 600; 
    margin: 0px;
} 

.btuDrk { 
    margin: 0px;
} 

.efMzTA { 
    display: block; 
    width: 100%;
} 

.cspToe { 
    width: fit-content; 
    margin: 0px; 
    color: rgb(100, 100, 100); 
    font-size: var(--etna-font-size,14px); 
    line-height: var(--etna-line-height,18px); 
    letter-spacing: 0.02em; 
    font-weight: 600; 
    text-align: center; 
    text-transform: uppercase;
} 

.jhAkDi { 
    width: 100%; 
    margin: 0px; 
    overflow: hidden; 
    color: rgb(18, 18, 18); 
    font-weight: 700; 
    font-size: var(--vinson-font-size,22px); 
    line-height: var(--vinson-line-height,24px); 
    letter-spacing: 0.02em; 
    text-transform: uppercase; 
    text-align: start; 
    overflow-wrap: break-word;
} 

.jfLFFl { 
    width: 100%; 
    margin: 0px; 
    overflow: hidden; 
    color: rgb(18, 18, 18); 
    font-weight: 700; 
    font-size: var(--vinson-font-size,22px); 
    line-height: var(--vinson-line-height,24px); 
    letter-spacing: 0.02em; 
    text-transform: uppercase; 
    text-align: center; 
    overflow-wrap: break-word;
} 

.lNGlh { 
    width: 100%; 
    margin: 0px; 
    overflow: hidden; 
    color: rgb(18, 18, 18); 
    font-weight: 700; 
    font-size: var(--vinson-font-size,22px); 
    line-height: var(--vinson-line-height,24px); 
    letter-spacing: 0.02em; 
    text-transform: uppercase; 
    text-align: end; 
    overflow-wrap: break-word;
} 


/* These were inline style tags. Uses id+class to override almost everything */


.sidebar {
  width: 260px;
  transition: width 0.25s ease;
}

.sidebar.collapsed {
  width: 64px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: #00000066;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 420px;
  height: 100vh;
  background: #ffffffff;
  color: #000000ff;
  padding: 16px;
  z-index: 100;
}
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1009;
  background-color: #00000066;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #ffffffff;
  color: #000000ff;
  z-index: 78100;
}
@media not all and (max-width: 720px) {
    .panel {
        width: 420px;
        inset-inline: auto 0px;
    }
}