.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
}

.loading-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #1f75fe;
  border-color: #1f75fe transparent #1f75fe transparent;
  animation: ring-spin 1.2s linear infinite;
}

@keyframes ring-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
